footer#footer
    .container
        .soc_buttons
            h5 Хотите узнать больше? Вступайте в наши группы!
            a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
                i(class="fab fa-facebook-f")
            a(href="http://vk.com/mv_ezoterika" target="_blank")
                i(class="fab fa-vk")
            a(href="https://twitter.com/MastervisionEzo" target="_blank")
                i(class="fab fa-twitter")
            a(href="https://www.instagram.com/mastervision1/" target="_blank")
                i(class="fab fa-instagram")
            a(href="https://www.ok.ru/group/54472921710656" target="_blank")
                i(class="fab fa-odnoklassniki")
            a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
                i(class="fab fa-youtube")
            .clfix
        p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
        a#conditions(href="http://mastervision.su/oferta.docx") Условия возврата денежных средств
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")