section#last
    .container
        h3.general_title.last_general_title Благодаря записи этого вебинара вы пошагово разберете:
        ul.last_list
            li как свое увлечение сделать источником собственного дохода
            li какая ситуация у вас сейчас
            li какая проблема и цель
            li как вести себя с клиентами
            li как презентовать свои уникальные товары или услуги
            li как гарантированно провести сделку
        h4.last_aftertitle ЭТО 
            span ВАША ВОЗМОЖНОСТЬ 
            | ПОЛУЧИТЬ УЖЕ СЕГОДНЯ ЭТО ПРАКТИЧЕСКОЕ РУКОВОДСТВО И ВОЗМОЖНОСТЬ ПОВТОРЯТЬ ПРЕДСТОЯЩИЙ ИНТЕНСИВ, ИМЕЯ ЕГО ЗАПИСИ СО 
            span СКИДКОЙ БОЛЕЕ 80%
        a.button.button_last(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2432&clean=true&lg=ru" target="_blank") Приобрести руководство