section#second
    .container
        h3.general_title.second_general_title Практические советы и рекомендации отлично подходят для самореализации и увеличения доходов:
        ul.second_list
            li Работа с поднятием собственной ценности помогает выйти в позицию хозяина жизни и перестать быть жертвой обстоятельств
            li Рекомендации о том, каким образом презентовать себя и свои знания-умения-услуги, помогают выйти из кризиса и встать на путь процветания и реализации