section#third
	.container
		h3.general_title.third_general_title ОСОБЕННО РЕКОМЕНДУЕТСЯ!
		p.third_text Для всех, кто устал чувствовать себя загнанным в угол и вынужденным реализовывать чужие планы вместо своих
		h4.third_aftertitle 
			span ПРИОБРЕТИТЕ ЗАПИСЬ 
			| ПРАКТИЧЕСКОГО РУКОВОДСТВА ПО МОНЕТИЗАЦИИ СВОИХ ЗНАНИЙ И ТАЛАНТОВ СЕЙЧАС И 
			span ПОЛУЧИТЕ ЗАПИСИ 
			| БУДУЩЕГО ИНТЕНСИВА 
			span В ПОДАРОК
		a.button.button_third(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2432&clean=true&lg=ru" target="_blank") Приобрести за 490р.