section#authors
	.authors_circle.authors_circle_1
	.authors_circle.authors_circle_2
	.authors_circle.authors_circle_3
	.authors_circle.authors_circle_4
	.container
		h3.general_title.authors_general_title О тренерах
		.author.author_annas
			img(data-src="img/anna.png", alt="Анна Ролева")#anna.lazy
			.authors_container.annas_container
				h4.autors_container_title Анна Ролева
				h5.autors_container_subtitle Проектор 3/5, Крест 4-х путей
				ul.authors_container_list
					li Автор и ведущая тренингов по предназначению
					li Сертифицированный регрессолог (погружение в прошлые жизни)
					li Проводит индивидуальные консультации и обучение по Механике Человека
					li Лидер и создатель проекта «Cosmos»
		.author.author_veronika
			img(data-src="img/veronika.png", alt="Вероника Юрина")#veronika.lazy
			.authors_container.veronikas_container
				h4.autors_container_title Вероника Юрина
				h5.autors_container_subtitle Проектор 3/5, Крест Чаша Любви
				ul.authors_container_list
					li Профессиональный тренер и преподаватель
					li Дипломированный психолог
					li Опыт работы с людьми и консультирования - 10 лет
					li Обучала такие компании как ТрансНефтьЭнерго, Rambler, HH, Krutoy Media, Hearst Shkulev Media, ПГК, Бин-Банк, Mail Group и многие другие
				.clearfix
				.veronikas_certificates
					a(href="img/certs/cert_1.jpg" data-fancybox="certs")
						img(data-src="img/certs/cert_1_min.png", alt="Сертификат 1").lazy
					a(href="img/certs/cert_2.jpg" data-fancybox="certs")
						img(data-src="img/certs/cert_2_min.png", alt="Сертификат 2").lazy
					a(href="img/certs/cert_3.jpg" data-fancybox="certs")
						img(data-src="img/certs/cert_3_min.png", alt="Сертификат 3").lazy
					a(href="img/certs/cert_4.jpg" data-fancybox="certs")
						img(data-src="img/certs/cert_4_min.png", alt="Сертификат 4").lazy
		a.button.partners_button(href="http://ruautotrening.ru/roleva-and-yureva-monetization/partnership/" target="_blank") Партнерская программа