section#last
    .container
        img(src="img/last_img_1.png", alt="Кнопка Старт")#last_img_1
        h3.last_title Начните сейчас это 
            span бесплатно
            | !
        p Десятки учеников доверяют нам и реализуют свои цели
        button.button.last_button принять участие в марафоне
        img(src="img/last_img_2.png", alt="Ракета")#last_img_2