section#last
    .container
        h3.last_title Начните сейчас это 
            span бесплатно
            | !
        p Десятки учеников доверяют нам и реализуют свои цели
        button.button.last_button(data-toggle="modal" data-target="#myModalForm") принять участие в марафоне