section#main
	.container.main_container
		#main_title_container
			include ../header
			p.pre Бесплатный 3-х дневный онлайн-марафон
			h1.main_title Быстрые деньги в частной практике
			p.main_date с 17 по 19 декабря 
				span 19:00 мск
			p.main_authors Авторы курса: 
				span Анна Ролева и Вероника Юрина
		.video_wrapper.video_wraper_main
			iframe(src="https://youtube.com/embed/N-c6kXhmLA0?rel=0&autoplay=1" allowfullscreen)