section#main
	.container.main_container
		img#main_img(src="img/main_img.png", alt="Главное изображение")
		#main_title_container
			include ../header
			p.pre Бесплатный 5-ти дневный онлайн-марафон
			h1.main_title Быстрые деньги в частной практике
			p.main_date с 17 по 19 декабря 
				span 19:00 мск
			p.main_authors Авторы курса: 
				span Анна Ролева и Вероника Юрина
		.video_wrapper.video_wraper_main
			iframe(src="https://youtube.com/embed/N-c6kXhmLA0?rel=0&autoplay=0" allowfullscreen)
		#mail_section
			form(action="https://aleksandrkudryashov1.autoweboffice.ru/?r=personal/newsletter/sub/add&id=3568&lg=ru" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target="results").form_newsletter.form_newsletter_mail_section
				.col-lg-3.col-md-3
					h3.mail_section_title.infront  Спешите записаться!
					h3.infront_submit.hide
				.col-lg-6.col-md-6
						h4.mail_subtitle.phone_title Записаться через электронную почту:
						.form_container
							.email-block
								input( type="hidden" value="1" name="required_fields[email]")
								input(class="mail" name="Contact[email]" type="text" placeholder="Ваш email")
							.phone-block.hide
								input(type="hidden" value="0" name="required_fields[phone_number]")
								input(class="phone" maxlength="255" name="Contact[phone_number]" type="tel" placeholder="79333333333")
							button(type="submit").button.button_mail Записаться
						.clearfix
						p.alert_message Введите почту
						<!--Обязательный параметр. Не удалять и не изменять!-->
						input(type="hidden" value="511" name="Contact[id_newsletter]")
						<!--API код канала рекламы-->
						input(type="hidden" value="Ролева и Юрева Монетизация" name="Contact[id_advertising_channel_page]")
						.checking
							input(type="checkbox" id="check" checked).check
							label(for="check").check_label Я согласен с 
								a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  условиями обработки персональных данных
								|  по 152 - Ф3
				.col-lg-3.col-md-3
					h4.mail_subtitle или с помощью социальных сетей:
					.mail_soc_buttons
						a.mail_soc_buttons_link.soc_button_vk(href="https://vk.com/app6379730_-96028637#l=27;auto=1" target="_blank")
							i.fab.fa-vk
						a.mail_soc_buttons_link.soc_button_ms(href="https://m.me/1726493250936970?ref=ml16" target="_blank")
							i.fab.fa-facebook-messenger