section#plan
	h3.general_title.plan_general_title План марафона:
	.day.day_1
		.container
			img(src="img/day_img_1.png", alt="1 день").day_img.day_img_1
			.day_container.day_container_1
				h4.day_container_title 1 день. 
					span Быстрые деньги
				ul.day_container_list
					li Виды частной практики
					li Стратегии запуска
					li Описываем бизнес модель, тема и ниша
	.day.day_2
		.container
			img(src="img/day_img_2.png", alt="2 день").day_img.day_img_2
			.day_container.day_container_2
				h4.day_container_title 2 день. 
					span Что продавать
				ul.day_container_list
					li Создание продуктов
					li Усиление существующих
					li Работа с контентом и базой
	.day.day_3
		.container
			img(src="img/day_img_3.png", alt="3 день").day_img.day_img_3
			.day_container.day_container_3
				h4.day_container_title 3 день. 
					span Где брать клиентов
				ul.day_container_list
					li Продажа консультаций
					li Продажа коучингов
					li Работа со старыми клиентами
			.clearfix
		button.button.what_button(data-toggle="modal" data-target="#myModalForm") Записаться