#last
	padding 60px 0
	width 100%
	background-color: #142328;
	background-image: url("../img/about_bg.jpg");
	background-position: center;
	background-size: cover;
.last_general_title 
	color: #fff
.last_list
	width 100%
	max-width 560px
	margin 0 auto
	li
		font-size: 18px
		list-style: none
		position relative
		color: #11191b;
		margin-bottom: 15px;
		padding-left: 18px;
		color #fff
		&:before
			content: '';
			border-radius: 50%;
			background-color: #f2c22c;
			position: absolute;
			left: 0;
			top: 12px;
			width: 7px;
			height: 7px;
		&:last-child
			margin-bottom: 0
.last_aftertitle
	text-align: center
	font-family: 'OpenSansSemibold', sans-serif;
	text-transform: uppercase
	font-size: 22px
	color #fff
	margin: 45px auto 30px
	width 100%
	max-width 650px
	span
		color #ce2806
.button_last
	max-width 280px