#main
	width 100%
	padding 0 0 60px
	background-color: #142328
	background-image: url(../img/bonus_main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
#main_title_container
	position relative
	z-index 10
#header
	padding: 14px 0
	overflow hidden
	z-index: 9
	position relative
	margin-bottom: 35px
#logo
	float: left
	width 165px
	height auto
.contacts
	float: right
	text-align: right
	line-height  22px
	a
		&:focus
			text-decoration: none
		i
			color: #eec33f
			font-size: 15px
			margin: 0 10px 0 25px
			line-height: 15px
			vertical-align: baseline
		i+span
			line-height: 15px
			font-size: 15px;
			font-family: "OpenSans", sans-serif;
			color: rgba(#fff)
			opacity .8
			text-align: right;
			&:hover
				text-decoration underline
.fa-phone
	transform: rotate(90deg)
.tel:first-child
	.fas-phone
		margin-left: 0
.pre
	font-size: 22px;
	font-family: "OpenSansSemibold", sans-serif;
	color: rgb(255, 57, 90);
	text-transform: uppercase;
	line-height: 1.3
	text-align: center
	margin-bottom: 45px
.title_container
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.07);
	padding 30px 20px
.main_title
	font-size: 24px;
	font-family: "OpenSansCondensedBold", sans-serif;
	line-height: 1.164;
	width 100%
	max-width: 500px;
	margin 0 auto 20px
	color #ce2806
	small 
		color: #11191b
		font-size: 70%
		font-family: "OpenSans", sans-serif;
		display block
.price
	font-size: 20px;
	font-family: "OpenSansSemibold", sans-serif;
	margin-bottom: 15px
	span
		text-decoration: line-through
.main_subtitle
	font-family: 'OpenSansSemibold', sans-serif;
	text-transform: uppercase
	text-align: center
	font-size: 18px
	color #11191b
	margin: 25px 0 0
	span
		color #ce2806
		font-family: 'OpenSansBold', sans-serif;