#second
    width 100%
    padding 60px 0
.second_list
    width 100%
    max-width 650px
    margin 0 auto
    li
        list-style: none
        position relative
        color: #11191b;
        margin-bottom: 15px;
        padding-left: 18px;
        font-size: 20px
        &:before
            content: '';
            border-radius: 50%;
            background-color: #af2100;
            position: absolute;
            left: 0;
            top: 11px;
            width: 7px;
            height: 7px;
        &:last-child
            margin-bottom: 0