#third
	width 100%
	padding: 60px 0
	background-color: #f7f8f9;
	background-image: url("../img/last_img_1.png"), url("../img/last_img_2.png");
	background-repeat: no-repeat, no-repeat;
	background-position: -290px center, 1054px center;
	text-align: center;
	text-align: center
.third_general_title
	color #ce2806
	font-family: 'OpenSansBold', sans-serif
.third_text
	font-size: 20px
	width 100%
	max-width 650px
	margin 0 auto
.third_aftertitle
	font-family: 'OpenSansSemibold', sans-serif;
	text-transform: uppercase
	font-size: 22px
	color #11191b
	margin: 25px auto 30px
	width 100%
	max-width 750px
	span
		color #ce2806