#authors
	width 100%
	padding 84px 0 99px
	background-color: #142328
	background-image url(../img/about_bg.jpg)
	background-position: center
	background-size: cover
	.container
		position relative
		z-index 9
.authors_general_title
	color #fff
	margin-bottom: 56px
.author
	overflow hidden
.author_veronika
	margin-top: -2px
#anna
	float left
	margin: 0 145px 0 9px
#veronika
	float: right
	margin 0 13px 0 0
.authors_container
	float left
	width 100%
.annas_container
	max-width 546px
.veronikas_container
	max-width 520px
	margin-left: 96px
.autors_container_title
	font-size: 24px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: #f2c22c
	line-height: 1.334;
	margin: 80px 0 -1px
.autors_container_subtitle
	font-size: 20px;
	font-family: "OpenSansCondensedLight", sans-serif;
	color: #fff
	opacity .8
	line-height: 1.561;
	margin-bottom: 15px
.authors_container_list
	li
		color: #fff
		line-height: 1.3;
		margin-bottom: 8px
		position relative
		list-style none
		padding-left: 17px
		&:before
			content ''
			border-radius: 50%;
			background-color: #f2c22c
			position: absolute;
			left: 0
			top: 6px;
			width: 7px;
			height: 7px;
.veronikas_certificates
	text-align: center
	width 100%
	max-width 430px
	margin-top: 13px
	a
		img
			display: inline-block
			width 107px
.partners_button
	margin-top: 65px
	max-width 300px