#footer
	width 100%
	padding 36px 0 32px
	background-color: #12181b
	text-align: center
	p
		font-size: 14px;
		color: rgba(#fefefe, .6);
		line-height: 1.3;
		font-family: 'OpenSansLight', sans-serif
.mail_modal-content
	background-color: #fff
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 35px
	text-align: center
	font-size: 30px
	color: #000
	background-color: #F0F0F0
	top 15px
	right 15px
	left auto
	z-index 99
.modal_mail_section_title
	margin 20px 0 15px
	text-align: center
.modal_mail_subtitle
	font-size: 20px
	margin-bottom: 20px
.modal_soc_buttons_mail_title
	margin-top: 20px
.politics_modal-content
	.modal-title
		font-size: 24px
		text-align: left 
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px
#iframe_results
	position: absolute
	height 1px
	width 1px
	opacity 0
	left -9999px
	bottom: 0
.modal_form
	.infront_submit
		text-align: center
		width 100%
		max-width 84%
		margin 20px auto 15px
		font-size: 20px
		font-family: "OpenSansBold", sans-serif;
	.phone_title
		font-size: 18px
		width 100%
		margin 0 auto 20px