#last
	width 100%
	background-color: #f7f8f9
	background-image url(../img/last_img_1.png) ,url(../img/last_img_2.png)
	background-repeat no-repeat, no-repeat
	background-position: -290px center, 1054px center
	padding 72px 0 64px
	text-align: center
.last_title
	font-size: 37px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: #11191b
	line-height: 1.384;
	margin-bottom: 8px
	span
		color #b23016
	& + p
		font-size: 24px;
		color: rgba(#11191b, 0.8);
		line-height: 1.3;
.last_button
	margin-top: 60px
	max-width 342px