#last
    width 100%
    background-color: #f4f9fc
    padding 86px 0 102px
    text-align: center
    .container
        position relative
#last_img_1
    position: absolute
    left: 99px;
    bottom: -142px;
    width: 175px
.last_title
    font-size: 37px;
    font-family: "OpenSansCondensedBold", sans-serif;
    color: rgb(26, 54, 88);
    line-height: 1.384;
    margin-bottom: 8px
    span
        color #fe6345
    & + p
        font-size: 24px;
        color: rgba(26, 54, 88, 0.8);
        line-height: 1.3;
.last_button
    margin-top: 60px
    max-width 342px
#last_img_2
    position: absolute
    right: 37px;
    top: -22px;
    width 130px