#main
	width 100%
	padding 0 0 57px
	background-color: #0091FB
	background-image: linear-gradient( 0deg, rgb(255,255,255) 0%, rgb(190,240,253) 12%, rgb(124,224,251) 28%, rgb(69,162,249) 48%, rgb(13,99,247) 99%);
.main_container
	position relative
	&:before
		content: ''
		position: absolute
		top -10px
		left -10px
		background-image: linear-gradient( -60deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
		opacity: 0.122;
		position: absolute;
		border-radius: 50%
		width: 761px;
		height: 761px;
		z-index: 2
		left: -272px;
		top: -168px;
	&:after
		content ''
		position: absolute
		background-image: linear-gradient( 60deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
		opacity: 0.122;
		width: 595px;
		height: 595px;
		border-radius: 50%
		left: -229px;
		top: -246px;
		z-index: 1
#main_title_container
	position relative
	z-index 10
#header
	padding: 14px 0
	overflow hidden
	z-index: 9
	position relative
	margin-bottom: 15px
#logo
	float: left
	width 165px
	height auto
.contacts
	float: right
	text-align: right
	line-height  22px
	a
		&:focus
			text-decoration: none
		i
			color: #eec33f
			font-size: 15px
			margin: 0 10px 0 25px
			line-height: 15px
			vertical-align: baseline
		i+span
			line-height: 15px
			font-size: 15px;
			font-family: "OpenSans", sans-serif;
			color: rgba(#fff)
			opacity .8
			text-align: right;
			&:hover
				text-decoration underline
.fa-phone
	transform: rotate(90deg)
.tel:first-child
	.fas-phone
		margin-left: 0
#main_img
	position: absolute
	top: 36px;
	right: 16px;
	width: 665px
	z-index 0
.pre
	font-size: 16px;
	font-family: "OpenSansSemibold", sans-serif;
	text-transform: uppercase
	color: rgb(254, 254, 254);
	text-decoration: underline;
	line-height: 1.3
	margin-left: -4px;
.main_title
	font-size: 44px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(254, 254, 254);
	line-height: 1.164;
	width 100%
	max-width: 500px;
	margin 16px 0 22px -4px
.main_date
	font-size: 22px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(254, 207, 62);
	line-height: 28px
	margin-left: -4px;
	&:before
		content: url(../img/calendar.png)
		display: inline-block
		margin-right: 22px
		width: 28px
		height 28px
		vertical-align: bottom
	span
		color #fefefe
.main_authors
	font-size: 19px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(254, 254, 254);
	line-height: 1.4
	margin 6px 0 12px -1px
	span
		font-family: 'OpenSansLight', sans-serif
		letter-spacing: -1.4px;
.video_wraper_main
	max-width 335px
	margin 0
	z-index 9
#mail_section
	padding 10px 0 24px
	border-radius: 3px;
	background-color: #fff
	margin-top: 20px
	position relative
	z-index 9
	overflow hidden
.mail_section_title
	font-size: 27px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: #2c4564
	line-height: 1.083;
	margin-top: 40px
	text-align: center
.mail_subtitle
	text-align: center
	margin-bottom: 11px
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: #212d3b
	line-height: 1.3
.form_newsletter_mail_container
	width 100%
	max-width 490px
	margin 0 auto
.form_container
	width: 100%;
	max-width: 436px;
	margin: 0 auto;
.mail
.phone
	border-radius: 5px
	border: 1px solid #e8e8e8
	height 51px
	line-height: 51px
	padding-left:  20px
	color: rgba(24, 24, 24, 0.6);
	float left
	width 100%
	max-width 252px
	font-family: 'OpenSans', sans-serif
	&:focus
	&:active
		background-color #fff
.button_mail 
	max-width: 174px;
	height: 51px;
	line-height: 51px;
	float right
.alert_message {
	display: none;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
	font-family: 'OpenSans', sans-serif;
	color: #ff0000
}
.checking {
	display: table;
	width 100%
	max-width: 80%
	margin: 14px auto 0;
	text-align: left
}

.checking .check_label {
	font-size: 12px;
	font-family: "OpenSansLight", sans-serif;
	color: #212d3b
	line-height: 14px;
	cursor: pointer;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 25px;
	text-align: left
}

.checking .check_label a {
	text-decoration: underline
	color #2f3b4a
}
.checking .check_label a:focus
	opacity: 1
	color #2f3b4a
.checking .check_label a:hover
	opacity: .6
	color #2f3b4a
.checking .check_label:before {
	content: '';
	background-color: #aaa;
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;

}

.checking .check_label:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 2px;
	width: 5px;
	height: 10px;
	background-color: transparent;
	opacity: 0;
	border-bottom: 3px solid #1f2022
	border-right: 3px solid #1f2022
	-webkit-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	transform: rotate(41deg);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.check {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height 0;
	border: 0;
	left -99999px;
}

.check:checked + label:before {
	border: none
	background-color: #f6f5f5

}

.check:checked + label:after {
	opacity: 1;
	top: 2px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@-webkit-keyframes autofill {
	to {
		color: rgba(29, 28, 24, 0.702);
		background: #fff;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;

}

.mail_soc_buttons
	width 100%
	max-width 122px
	margin 11px auto 0
	text-align: center
	overflow hidden
	.fab
		width: 49px
		height 49px
		line-height: 49px
		border-radius: 50%
		text-align: center
		color: #fff
		font-size: 24px
.soc_button_vk .fab
	background-color: #2a4f78
.soc_button_ms .fab
	background-color: #3c7cc3
.soc_button_vk
	float: left
.soc_button_ms
	float: right
.infront_submit
	font-size: 20px
	font-family: 'Rubik', sans-serif;
	line-height: 1.2;
.partner_form_newsletter
	width 100%
	max-width 80%
	margin 0 auto
.modal-backdrop.in
	opacity .8