#plan
	width 100%
	padding 90px 0 103px
	background-color: #f4f5f6
	background-image url(../img/plan_img_1.png) ,url(../img/plan_img_2.png), url(../img/plan_img_1.png)
	background-repeat no-repeat, no-repeat, no-repeat
	background-position: 971px 136px, 0 535px, 971px 927px
.plan_general_title
	margin-bottom: 63px
.day
	background-color #fff
	background-repeat no-repeat
	overflow hidden
	width 100%
	max-width 852px
	margin-bottom: 62px
	height 240px
	border-radius: 5px
	margin-left: 95px
.day_2
	margin-left: 190px
.day_img
	float left
.day_img_2
	float: right
.day_container
	// width 100%
	// max-width 340px
	float left
	padding  49px 20px 20px 95px
.day_container_title
	font-size: 24px;
	font-family: "OpenSansCondensedBold", sans-serif;
	line-height: 1.2
	margin-bottom: 21px
	color: #af2100
	span	
		color #11191b
.day_container_list
	li
		color #11191b
		position relative
		margin-bottom: 7px
		list-style none
		padding-left: 18px
		&:before
			content: ''
			border-radius: 50%;
			background-color: #af2100
			position: absolute;
			left: 0
			top: 7px;
			width: 7px;
			height: 7px;
		&:last-child
			margin-bottom: 0
.what_button
	margin-top: 52px