#plan
	width 100%
	padding 90px 0 112px
	background-color: #f4f9fc
.plan_general_title
	margin-bottom: 26px
	padding 0 10px
.day
	background-image url(../img/plan_img_1.png)
	background-repeat no-repeat
	background-position: 973px 2px
	overflow hidden
	.container
		display: flex
		align-items: center
.day_2
	background-image url(../img/plan_img_2.png)
	background-position: -232px 81px
	.container
		border-top: 1px solid rgba(#00455E, .1)
		border-bottom: 1px solid rgba(#00455E, .1)
		padding-top 40px
		padding-bottom: 37px
		flex-direction: row-reverse
.day_1
	padding 65px 0 39px
.day_3
	padding 21px 0 0
	background-position: 973px 83px;
// .day_img
// 	float left
.day_img_1
	margin 0 104px 0 72px
.day_container
	width 100%
	max-width 340px
	float left
.day_img_2
	// float: right
	margin 0 103px 0 33px
.day_img_3
	margin: 0 95px 0 64px;
// .day_container_1
// 	margin-top: 52px
.day_container_title
	font-size: 24px;
	font-family: "OpenSansCondensedBold", sans-serif;
	line-height: 1.2
	margin-bottom: 21px
	color: rgb(254, 99, 69);
	span	
		color #1a3658
.day_container_list
	li
		color #212d3b
		position relative
		margin-bottom: 7px
		list-style none
		padding-left: 18px
		&:before
			content: ''
			border-radius: 50%;
			background-color: rgb(113, 202, 253);
			opacity: 0.6;
			position: absolute;
			left: 0
			top: 7px;
			width: 7px;
			height: 7px;
		&:last-child
			margin-bottom: 0
.what_button
	margin-top: 52px