#what
    width 100%
    padding 152px 0 100px
    .container
        position relative
.what_pretitle
    font-size: 24px;
    font-family: "OpenSansCondensedBold", sans-serif;
    color: #11191b
    line-height: 1.425;
    text-align: center;
    width 100%
    max-width: 724px;
    margin 0 auto 73px
    span
        color #af2100
.what_general_title
    margin-bottom: 62px
.what_row_2
    position relative
    top: -25px
.what_container
    width 100%
    max-width 358px
    margin 0 auto
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.07);
    text-align: center
    padding 48px 18px
    min-height 255px
.what_container_img
    display: inline-block
    height 50px
    width: 50px
    background-image url(../img/what_icons.png)
    background-repeat no-repeat
    background-position 0 0
.what_container_title
    font-size: 22px;
    font-family: "OpenSansCondensedBold", sans-serif;
    color: #11191b
    line-height: 1.328;
    margin 17px 0 12px
.what_containert_text
    color: rgba(#11191b, 0.9);
    line-height: 1.326;
.what_button
    margin-top: 51px
.what_container_img_2
    background-position -50px 0
.what_container_img_3
    background-position -100px 0
.what_container_img_4
    background-position -150px 0
.what_container_img_5
    background-position -200px 0