-var full_1 = '7 400р.'
-var full_2 = '12 900р.'
-var full_3 = '19 400р.'
-var full_4 = '35 900р.'
-var full_5 = '150 000р.'
-var sale_1 = '1 500р.'
-var sale_2 = '3 000р.'
-var sale_3 = '4 500р.'
-var sale_4 = '6 000р.'
-var today_1 = '5 900р.'
-var today_2 = '9 900р.'
-var today_3 = '14 900р.'
-var today_4 = '29 900р.'
-var link_1 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2413&clean=true&lg=ru'
-var link_2 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2423&clean=true&lg=ru'
-var link_3 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2424&clean=true&lg=ru'
-var link_4 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2425&clean=true&lg=ru'
-var link_5 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2468&clean=true&lg=ru'
-var prep_bonus = '1 100р.'
-var prep_cred = '3 000р.'
-var prep_link = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2451&clean=true&lg=ru'