header#header
	img#logo(src="img/logo.png", alt="Логотип")
	.contacts
		a.tel(href="callto:8-929-568-87-50")
			i.fas.fa-phone
			span 8-929-568-87-50
		a.tel(href="callto:8-499-346-79-46")
			i.fas.fa-phone
			span 8-499-346-79-46
		a.skype(href="skype:add?admin-mastervision")
			i.fab.fa-skype
			span admin-mastervision
		a.email(href="mailto:info@mastervision.su")
			i.fas.fa-envelope
			span info@mastervision.su