#if
	padding 60px 0
.if_list
	width 100%
	max-width 600px;
	margin 0 auto
	li
		position relative
		list-style: none
		font-size: 20px;
		margin-bottom: 20px
		line-height: 1.4
		padding-left: 17px
		&:before
			content: ''
			position: absolute
			width 7px
			height 7px
			border-radius: 50%
			background-color: #f2c22c
			top: 13px
			left 0
		&:last-child
			margin-bottom: 0