 @media screen and (min-width 1900px)
	#plan
		background-position: right 238px, left 540px, right 846px
	#last
	#prices
		background-position: right center, left center
@media screen and (min-width 2295px)
	.container
		width 1400px
	#main
		padding-bottom: 90px
	#header
		margin-bottom: 40px
	.contacts a i
	.contacts a i+span
		font-size: 18px
		line-height: 18px
	.button
	#footer p
		font-size: 18px
	.pre
	.main_authors
	.videos_container_buttons li
	.videos_day_text
		font-size: 20px
	#if
	#plan
	#reach
	#prices
	#videos
		padding 90px 0
	.if_list
	.reach_list
		max-width 800px
		li
			font-size: 22px
	.plan_list
		max-width 1050px
		li
			font-size: 22px
	.price_body_list li
		font-size: 20px
	.cost
		font-size: 24px
		span
			font-size: 28px
	.videos_day_title
		font-size: 22px
	#videos_container
		max-width 850px
	.soc_buttons a i
		width 45px
		height 45px
		line-height 45px
		font-size: 24px
@media screen and (max-width 1199px)
	.price_body
		min-height 541px
@media screen and (max-width 991px)
	#main
		padding-bottom: 40px
	#logo
		float: none
		display block
		margin: 0 auto
	.contacts
		float: none
		text-align: center
		a
			display: inline-block
			margin-top: 5px
	#if
	#plan
	#reach
	#prices
	#videos
		padding 40px 0
	#prices
		background-position: left center, right center
	.price
		margin-bottom: 20px
	.price_body
		min-height 380px
	#footer
		padding 20px 0
@media screen and (max-width 767px)
	.price_body
		min-height 1px
	#vk
		margin-bottom: 25px
@media screen and (max-width 485px)
	#logo
		width 140px
	.contacts a i
	.contacts a i + span
		font-size: 12px
	#main
		padding-bottom: 30px
	.main_title
		font-size: 34px
	.main_date
		font-size: 24px
	#if, #plan, #prices, #reach, #videos
		padding 30px 0
	.general_title
		font-size: 24px
		margin-bottom: 30px
	.if_list li
	.plan_list li
	.reach_list li
		font-size: 18px
		margin-bottom: 10px
		padding-left: 13px
		&:before
			top 11px
	.plan_list
		padding 20px
	.plan_list li
		&:before
			top 10px
	.flip-clock-wrapper
		width 100%
		max-width 260px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.prepayment
		margin-top: 10px
	.timer_title
		font-size: 24px
	.alert-danger
		font-size: 20px
		margin-top: 20px
	#videos_container
		margin-bottom: 20px
	.videos_container_buttons
		margin-bottom: 0
		li
			max-width 100px
			margin-bottom: 10px
	.buy_recs_button
		margin 0 auto 40px
	#footer h5
		font-size: 20px
		margin-bottom: 10px
	.soc_buttons a
		margin 0 8px 10px
	#footer #conditions, #footer p
		font-size: 12px
@media screen and (max-width 380px)
	.contacts a
		margin-top: 0
	.contacts a i
		margin 0 5px 0 15px
		line-height: 10px
	.main_title
		font-size: 28px
	.main_date
		font-size: 22px
		span
			display block
	.main_authors span
		display block
	.main_authors
		margin: 20px 0
	.plan_list
	.price
	.videos_day_container
		padding 10px
	.price_head
		padding 0 0 10px
	.price_body
		padding 10px 0 10px 5px
	.price_footer
		padding 10px 0 0
	.cost_today
		margin-bottom: 20px
	.prepaymant_title
		font-size: 24px
	.prepayment_text
		font-size: 20px
	.videos_container_buttons li
		font-size: 14px
		max-width 65px
		height 35px
		line-height 35px
		margin 0 5px 20px