#plan
	width 100%
	padding 60px 0
	background-color: #f4f5f6
	background-image url(../img/plan_img_1.png) ,url(../img/plan_img_2.png), url(../img/plan_img_1.png)
	background-repeat no-repeat, no-repeat, no-repeat
	background-position: left 136px, right 535px, left 927px
.plan_list
	background-color #fff
	background-repeat no-repeat
	overflow hidden
	width 100%
	max-width 800px
	border-radius: 5px
	margin 0 auto 40px
	padding 30px
	li
		position relative
		list-style: none
		font-size: 20px;
		margin-bottom: 20px
		line-height: 1.4
		padding-left: 17px
		font-family: 'OpenSansSemibold', sans-serif
		&:before
			content: ''
			position: absolute
			width 9px
			height 9px
			border-radius: 50%
			background-color: #B11B00
			top: 10px
			left 0
		&:last-child
			margin-bottom: 0