#reach
	width 100%
	padding 60px 0
	background-color: #142328
	background-image url(../img/about_bg.jpg)
	background-position: center
	background-size: cover
.reach_title
	color: #fff
.reach_list
	width 100%
	max-width 650px
	margin 0 auto
	li
		color #fff
		position relative
		list-style: none
		font-size: 20px;
		margin-bottom: 20px
		line-height: 1.4
		padding-left: 17px
		&:before
			content: ''
			position: absolute
			width 7px
			height 7px
			border-radius: 50%
			background-color: #f2c22c
			top: 11px
			left 0
		&:last-child
			margin-bottom: 0