footer#footer
	.container
		.soc_buttons
			h5 Хотите узнать больше? Вступайте в наши группы!
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fab fa-facebook-f")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fab fa-vk")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fab fa-twitter")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fab fa-instagram")
			a(href="https://www.ok.ru/group/54472921710656" target="_blank")
				i(class="fab fa-odnoklassniki")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fab fa-youtube")
			.clfix
		p ИП Грудин Андрей Аркадьевич, г. Москва, поселение Рязанковское, пос. Знамя Октября, мкр. Родники, д. 6, кв. 34<br> ИНН/КПП 772427896499, ОГРН/ОГРНИП 318774600310986
		a#conditions(href="http://ruautotrening.ru/oferta.docx") Условия возврата денежных средств
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
.modal.fade(tabindex="-1" role="dialog")#program
	.modal-dialog(role="document")
		.modal-content.program_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title Программа индивидуальной работы
				.modal-body
					ol.price_body_list
						li
							span Составление программы и презентации бесплатного продающего вебинара
						li
							span Составление программы тренинга и презентаций по занятиям
						li
							span Легенда и миссия тренера
						li
							span Продающие сайты
						li
							span Индивидуальный тренинг по копирайтину, продажам и публичным выступлениям
						li
							span Прокачка силового поля тренера и тренерской харизмы
						li
							span Составление контент-плана на 2 месяца
						li
							span Проработка финансовых ограничений
						li
							span И многое многое другое!