section#if
	.container
		h3.general_title.if_general_title Этот курс необходим Вам, если Вы:
		ul.if_list
			li не уверены в себе и своей экспертности в любимом деле;
			li застряли в финансовых неурядицах и проблемах;
			li мечтаете о самореализации и собственном бизнесе;
			li хотите стать свободными от каких-либо временных и территориальных рамок в своей деятельности;
			li и, наконец-то, просто желаете стать счастливым и успешным человеком;