section#main
	.container
		header#header
			a(href="/", target="_blank")
				img#logo(src="../img/logo.png", alt="Логотип")
			.contacts
				a.tel(href="callto:8-929-568-87-50")
					i.fas.fa-phone
					span 8-929-568-87-50
				a.tel(href="callto:8-499-346-79-46")
					i.fas.fa-phone
					span 8-499-346-79-46
				a.skype(href="skype:add?admin-mastervision")
					i.fab.fa-skype
					span admin-mastervision
				a.email(href="mailto:info@mastervision.su")
					i.fas.fa-envelope
					span info@mastervision.su
		p.pre Записи онлайн-марофона
			small (внизу интенсива)
		h1.main_title МОНЕТИЗАЦИЯ - 	
			small уникальная технология построения частной практики до 150 тыс. рублей в месяц
		p.main_date 
			span Старт курса: 
			| NN декабря, 19:00 мск
		p.main_authors Авторы курса: 
			span Анна Ролева и Вероника Юрина
		a.button.button_main(href="#prices") Участвовать