section#plan
	.container
		h3.general_title.plan_general_title План курса
		ul.plan_list
			li Технология и психология построения частной практики от 50-ти до 150-ти тыс. рублей в месяц;
			li Как получить очередь из клиентов без больших вложений в рекламу и технических сложностей;
			li Как перестать обесценивать свою экспертность и начать зарабатывать на любимом деле;
			li Технология проработки ментальных блоков и финансовых установок;
			li Построение личного бренда;
			li Контент-план и коммуникации с клиентом;
			li Продажа пакетов консультаций;
			li Разработка коучинговой программы до результата;
			li Продажа дорогого коучинга на большие чеки;
			li Технологии ведения консультаций;
			li Технологии продаж на консультациях;
			li Составление программы семинара;
			li Организация и проведения семинара за 2 недели;
			li Базовые бесплатные инструменты рекламы;
			li Вебинары и продажи со сцены;
			li И многое-многое другое!
		a.button.plan_button(href="#prices") Участвовать