section#reach
	.container
		h3.general_title.reach_title Что вы получите на курсе:
		ul.reach_list
			li Пошаговый алгоритм построения собственной частной практики, базирующейся на ваших знаниях, навыках и умениях;
			li Прокачаете уверенность в себе и своих возможностях;
			li Получите инструменты для развития собственного бизнеса;
			li Любимое дело станет вашим комфортным источником дохода;
			li Значительно увеличатся ваши финансовые возможности;
			li Моральное и материальное удовлетворение от реализации своего потенциала;
			li Многократно усилите свою харизму и привлекательность, как многогранно развитая личность;
			li Станете магнитом для притягивания успеха и изобилия в свою жизнь;