section#videos
	.container
		h3.general_title.videos_general_title Записи и домашние задания марафона
		#videos_container
			ul.videos_container_buttons
				li
					a(href="#day_1") День 1
				li
					a(href="#day_2") День 2
				li
					a(href="#day_3") День 3
			.videos_day_container
				.videos_day#day_1
					h4.videos_day_title День 1
					.video_wrapper.videos_day_video_wrapper
						//- iframe(src="https://player.vimeo.com/video/302011020" allowFullScreen mozallowfullscreen webkitAllowFullScreen)
						iframe(src="https://youtube.com/embed/N-c6kXhmLA0?rel=0" allowFullScreen)
					p.videos_day_text Запись занятия появится здесь 18.12.18, после 13:00 мск
				.videos_day#day_2
					h4.videos_day_title День 2
					p.videos_day_text Занятие состоится 18.12.18  в 19:00 мск
					p.videos_day_text Запись занятия появится здесь 19.12.18, после 13:00 мск
				.videos_day#day_3
					h4.videos_day_title День 3
					p.videos_day_text Занятие состоится 19.12.18  в 19:00 мск
					p.videos_day_text Запись занятия появится здесь 20.12.18, после 13:00 мск
		p.buy_recs_text Купить записи марафона за 555р.
		br
		a.button.buy_recs_button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2454&clean=true&lg=ru" target="_blank") Купить
		#feedback
			h3.general_title.feedback_general_title Ваши ответы и вопросы к Анне и Веронике пишите в формах ниже:
			.row
				.col-md-6.col-sm-6
					#vk
						#vk_comments
						script(type="text/javascript")
							| VK.Widgets.Comments("vk_comments", { limit: 15,  attach: 0, autoPublish: 1 });
				.col-md-6.col-sm-6
					#fb
						.fb-comments(data-href="http://ruautotrening.ru/roleva-and-yureva-monetization/records/" data-width="100%" data-numposts="15" data-order-by="reverse_time")