-var full_1 = '5 900р.'
-var full_2 = '9 900р.'
-var full_3 = '14 900р.'
-var full_4 = '29 900р.'
-var link_1 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2413&clean=true&lg=ru'
-var link_2 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2423&clean=true&lg=ru'
-var link_3 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2424&clean=true&lg=ru'
-var link_4 = 'https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2425&clean=true&lg=ru'


section#prices
	.container
		<h3 class="general_title prices_general_title">Выберите <span>свой </span>пакет участия</h3>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="price">
					<div class="price_head">
						<h4 class="price_head_title">Пакет<span>Standart</span></h4>
					</div>
					<div class="price_body sale_price_body">
						<ol class="price_body_list">
							<li> <span>10 уроков по 3 часа 1 раз в неделю</span></li>
							<li> <span>Записи видео + Презентации</span></li>
							<li> <span>Алгоритмы, Скрипты, Чек-листы по Монетизации</span></li>
							<li> <span>Skype-чат</span></li>
						</ol>
					</div>
					<div class="price_footer">
						p.cost.cost_full Стоимость:
							span.sale_cost=full_1
						a.button.button_cost(href= link_1 target="_blank")#link_1 Выбрать
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="price">
					<div class="price_head">
						<h4 class="price_head_title">Пакет<span>Gold</span></h4>
					</div>
					<div class="price_body sale_price_body">
						<ol class="price_body_list">
							<li> <span>10 уроков по 3 часа 1 раз в неделю</span></li>
							<li> <span>Записи видео + Презентации</span></li>
							<li> <span>Алгоритмы, Скрипты, Чек-листы по Монетизации</span></li>
							<li> <span>Skype-чат</span></li>
							<li> <span>Проверка ДЗ от преподавателей</span></li>
						</ol>
					</div>
					<div class="price_footer">
						p.cost.cost_full Стоимость:
							span.sale_cost=full_2
						a.button.button_cost(href= link_2 target="_blank")#link_2 Выбрать
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="price">
					<div class="price_head">
						<h4 class="price_head_title">Пакет<span>Vip</span></h4>
					</div>
					<div class="price_body sale_price_body">
						<ol class="price_body_list">
							<li> <span>10 уроков по 3 часа 1 раз в неделю</span></li>
							<li> <span>Записи видео + Презентации</span></li>
							<li> <span>Алгоритмы, Скрипты, Чек-листы по Монетизации</span></li>
							<li> <span>Skype-чат</span></li>
							<li> <span>Проверка ДЗ от преподавателей</span></li>
							<li> <span>10 часовых консультаций по теме каждого урока от консультанта</span></li>
						</ol>
					</div>
					<div class="price_footer">
						p.cost.cost_full Стоимость:
							span.sale_cost=full_3
						a.button.button_cost(href= link_3 target="_blank")#link_3 Выбрать
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="price">
					<div class="price_head">
						<h4 class="price_head_title">Пакет<span>Platinum</span></h4>
					</div>
					<div class="price_body sale_price_body">
						<ol class="price_body_list">
							<li> <span>10 уроков по 3 часа 1 раз в неделю</span></li>
							<li> <span>Записи видео + Презентации</span></li>
							<li> <span>Алгоритмы, Скрипты, Чек-листы по Монетизации</span></li>
							<li> <span>Skype-чат</span></li>
							<li> <span>Проверка ДЗ от преподавателей</span></li>
							<li> <span>10 часовых консультаций по теме каждого урока от Анны Ролевой и Вероники Юриной</span></li>
						</ol>
					</div>
					<div class="price_footer">
						p.cost.cost_full Стоимость:
							span.sale_cost=full_4
						a.button.button_cost(href= link_4 target="_blank")#link_4 Выбрать
					</div>
				</div>
			</div>
		</div>
	</div>
</section>