section#reveiws
	.container
		h3.general_title.revs_general_title Отзывы учеников
		.row.row_videos
			.col-md-4.col-sm-4.col-xs-6
				.video_wrapper.revs_video_wrapper(data-youtube="aEzCAa1uQfU")
					img(src="../img/certs/video_1.jpg", alt="Видео-отзыв 1").lazy
			.col-md-4.col-sm-4.col-xs-6
				.video_wrapper.revs_video_wrapper(data-youtube="ueuWSesinZ0")
					img(src="../img/certs/video_2.jpg", alt="Видео-отзыв 2").lazy
			.col-md-4.col-sm-4.col-xs-6.col-md-offset-0.col-sm-offset-0.col-xs-offset-3
				.video_wrapper.revs_video_wrapper(data-youtube="NOSzMsueGfY")
					img(src="../img/certs/video_3.jpg", alt="Видео-отзыв 3").lazy
		.carousel.slide#carousel_text(data-ride="carousel" data-interval="false")
			.carousel-inner(role="listbox")
				.item.active
					a(href="../img/certs/rev_1.jpg" data-fancybox="revs")
						img(src="../img/certs/rev_1.jpg", alt="Отзыв 1").lazy
				.item
					a(href="../img/certs/rev_2.jpg" data-fancybox="revs")
						img(src="../img/certs/rev_2.jpg", alt="Отзыв 2").lazy
				.item
					a(href="../img/certs/rev_3.jpg" data-fancybox="revs")
						img(src="../img/certs/rev_3.jpg", alt="Отзыв 3").lazy
			ol.carousel-indicators
				li(data-target="#carousel_text" data-slide-to="0" class="active")
				li(data-target="#carousel_text" data-slide-to="1")
				li(data-target="#carousel_text" data-slide-to="2")
			.controls
				a.left.carousel-control(href="#carousel_text" role="button" data-slide="prev") &lt;
				a.right.carousel-control(href="#carousel_text" role="button" data-slide="next") &gt;
		a.button.button_revs(href="#prices") Участвовать